<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TweetSense by Digirithm</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/spacelabs/assets/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/spacelabs/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Fonts from Font Awsome -->
    <link rel="stylesheet" href="/spacelabs/assets/css/font-awesome.min.css">
    <!-- CSS Animate -->
    <link rel="stylesheet" href="/spacelabs/assets/css/animate.css">
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="/spacelabs/assets/css/main.css">
    <!-- Vector Map  -->
    <link rel="stylesheet" href="/spacelabs/assets/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css">
    <!-- ToDos  -->
    <link rel="stylesheet" href="/spacelabs/assets/plugins/todo/css/todos.css">
    <!-- Morris  -->
    <link rel="stylesheet" href="/spacelabs/assets/plugins/morris/css/morris.css">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Feature detection -->
    <script src="/spacelabs/assets/js/modernizr-2.6.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/spacelabs/assets/js/html5shiv.js"></script>
    <script src="/spacelabs/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Choropleth -->
    <style>

    .counties {
      fill: none;
      stroke: #000;
    }

    .states {
      fill: none;
      stroke: #000;
      stroke-linejoin: round;
    }

    .q0-9 { fill:rgb(247,251,255); }
    .q1-9 { fill:rgb(222,235,247); }
    .q2-9 { fill:rgb(198,219,239); }
    .q3-9 { fill:rgb(158,202,225); }
    .q4-9 { fill:rgb(107,174,214); }
    .q5-9 { fill:rgb(66,146,198); }
    .q6-9 { fill:rgb(33,113,181); }
    .q7-9 { fill:rgb(8,81,156); }
    .q8-9 { fill:rgb(8,48,107); }

    // Timeline
    .chart {
            shape-rendering: crispEdges;
        }

        .mini text {
            font: 9px sans-serif;   
        }

        .main text {
            font: 12px sans-serif;  
        }

        .miniItem0 {
            fill: darksalmon;
            stroke-width: 6;    
        }

        .miniItem1 {
            fill: darkolivegreen;
            fill-opacity: .7;
            stroke-width: 6;    
        }

        .miniItem2 {
            fill: slategray;
            fill-opacity: .7;
            stroke-width: 6;    
        }

        .brush .extent {
            stroke: gray;
            fill: dodgerblue;
            fill-opacity: .365;
        }

    </style>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>


</head>

<body class="animated fadeIn">
    <section id="container">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="index.html" class="logo"><span>Tweet</span>Sense</a>
                <div class="small text-center">By Digirithm</div>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="user-nav">
                
             
            </div>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-sitemap"></i><span>Demographics</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-question-circle"></i><span>Polls</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-bar-chart-o"></i><span>Trends</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-info-circle"></i><span>Suggestions</span></a>
                    </li>
                </ul>
            </div>

        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                <!--tiles start-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-red">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="180" data-speed="2500"> </h1>
                                <p>Tweets</p>
                            </div>
                            <div class="icon"><i class="fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-turquoise">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="56" data-speed="2500"> </h1>
                                <p>Demographics</p>
                            </div>
                            <div class="icon"><i class="fa fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-blue">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="32" data-speed="2500"> </h1>
                                <p>Polls</p>
                            </div>
                            <div class="icon"><i class="fa fa fa-comments"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-purple">
                            <div class="content">
                                <h1 class="text-left timer" data-to="105" data-speed="2500"> </h1>
                                <p>Trends</p>
                            </div>
                            <div class="icon"><i class="fa fa-bar-chart-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tiles end-->
                <!--dashboard charts and map start-->
                <div class="row">

                  
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Hotspots</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                               
                                   <div id="choropleth_demo"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Timeline</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="timeline" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!--main content end-->
        <!--sidebar right start
        <aside class="sidebarRight">
            <div id="rightside-navigation ">
                <div class="sidebar-heading"><i class="fa fa-user"></i> </div>
                <div class="sidebar-title">online</div>
                <div class="list-contacts">
                    <a href="javascript:void(0)" class="list-item">
                        <div class="list-item-image">
                            <img src="assets/img/avatar.gif" class="img-circle">
                        </div>
                        <div class="list-item-content">
                            <h4>James Bagian</h4>
                            <p>Los Angeles, CA</p>
                        </div>
                        <div class="item-status item-status-online"></div>
                    </a>
                </div>
            </div>
        </aside>-->
        <!--sidebar right end-->
    </section>
    <!--Global JS-->
    <script src="/spacelabs/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/spacelabs/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/spacelabs/assets/plugins/waypoints/waypoints.min.js"></script>

    <!--Page Level JS-->
    <script src="/spacelabs/assets/plugins/countTo/jquery.countTo.js"></script>
    <script src="/spacelabs/assets/plugins/weather/js/skycons.js"></script>


    <!--Load these page level functions-->
    <script>
        $(document).ready(function() {
            app.timer();
        });
    </script>

        <script>

    var width = 960,
        height = 600;

    var rateById = d3.map();

    var quantize = d3.scale.quantize()
        .domain([0, .15])
        .range(d3.range(9).map(function(i) { return "q" + i + "-9"; }));

    var projection = d3.geo.albersUsa()
        .scale(1280)
        .translate([width / 2, height / 2]);

    var path = d3.geo.path()
        .projection(projection);

    var svg = d3.select("#choropleth_demo").append("svg")
        .attr("width", width)
        .attr("height", height);

    queue()
        .defer(d3.json, "/testdata/us.json")
        .defer(d3.tsv, "/testdata/unemployment.tsv", function(d) { rateById.set(d.id, +d.rate); })
        .await(ready);

    function ready(error, us) {
      
      svg.append("g")
          .attr("class", "counties")
        .selectAll("path")
          .data(topojson.feature(us, us.objects.counties).features)
        .enter().append("path")
          .attr("class", function(d) { return quantize(rateById.get(d.id)); })
          .attr("d", path);

      svg.append("path")
          .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
          .attr("class", "states")
          .attr("d", path);
    }

    d3.select(self.frameElement).style("height", height + "px");
</script>


    <!-- Timeline -->
    <script type="text/javascript">
        //data
        var lanes = ["Chinese","Japanese","Korean"],
            laneLength = lanes.length,
            items = [{"lane": 0, "id": "Qin", "start": 5, "end": 205},
                    {"lane": 0, "id": "Jin", "start": 265, "end": 420},
                    {"lane": 0, "id": "Sui", "start": 580, "end": 615},
                    {"lane": 0, "id": "Tang", "start": 620, "end": 900},
                    {"lane": 0, "id": "Song", "start": 960, "end": 1265},
                    {"lane": 0, "id": "Yuan", "start": 1270, "end": 1365},
                    {"lane": 0, "id": "Ming", "start": 1370, "end": 1640},
                    {"lane": 0, "id": "Qing", "start": 1645, "end": 1910},
                    {"lane": 1, "id": "Yamato", "start": 300, "end": 530},
                    {"lane": 1, "id": "Asuka", "start": 550, "end": 700},
                    {"lane": 1, "id": "Nara", "start": 710, "end": 790},
                    {"lane": 1, "id": "Heian", "start": 800, "end": 1180},
                    {"lane": 1, "id": "Kamakura", "start": 1190, "end": 1330},
                    {"lane": 1, "id": "Muromachi", "start": 1340, "end": 1560},
                    {"lane": 1, "id": "Edo", "start": 1610, "end": 1860},
                    {"lane": 1, "id": "Meiji", "start": 1870, "end": 1900},
                    {"lane": 1, "id": "Taisho", "start": 1910, "end": 1920},
                    {"lane": 1, "id": "Showa", "start": 1925, "end": 1985},
                    {"lane": 1, "id": "Heisei", "start": 1990, "end": 1995},
                    {"lane": 2, "id": "Three Kingdoms", "start": 10, "end": 670},
                    {"lane": 2, "id": "North and South States", "start": 690, "end": 900},
                    {"lane": 2, "id": "Goryeo", "start": 920, "end": 1380},
                    {"lane": 2, "id": "Joseon", "start": 1390, "end": 1890},
                    {"lane": 2, "id": "Korean Empire", "start": 1900, "end": 1945}]
            timeBegin = 0,
            timeEnd = 2000;
        </script>
        <script type="text/javascript">
        var m = [20, 15, 15, 120], //top right bottom left
            w = 960 - m[1] - m[3],
            h = 500 - m[0] - m[2],
            miniHeight = laneLength * 12 + 50,
            mainHeight = h - miniHeight - 50;

        //scales
        var x = d3.scale.linear()
                .domain([timeBegin, timeEnd])
                .range([0, w]);
        var x1 = d3.scale.linear()
                .range([0, w]);
        var y1 = d3.scale.linear()
                .domain([0, laneLength])
                .range([0, mainHeight]);
        var y2 = d3.scale.linear()
                .domain([0, laneLength])
                .range([0, miniHeight]);

        var chart = d3.select("#timeline")
                    .append("svg")
                    .attr("width", w + m[1] + m[3])
                    .attr("height", h + m[0] + m[2])
                    .attr("class", "chart");
        
        chart.append("defs").append("clipPath")
            .attr("id", "clip")
            .append("rect")
            .attr("width", w)
            .attr("height", mainHeight);

        var main = chart.append("g")
                    .attr("transform", "translate(" + m[3] + "," + m[0] + ")")
                    .attr("width", w)
                    .attr("height", mainHeight)
                    .attr("class", "main");

        var mini = chart.append("g")
                    .attr("transform", "translate(" + m[3] + "," + (mainHeight + m[0]) + ")")
                    .attr("width", w)
                    .attr("height", miniHeight)
                    .attr("class", "mini");
        
        //main lanes and texts
        main.append("g").selectAll(".laneLines")
            .data(items)
            .enter().append("line")
            .attr("x1", m[1])
            .attr("y1", function(d) {return y1(d.lane);})
            .attr("x2", w)
            .attr("y2", function(d) {return y1(d.lane);})
            .attr("stroke", "lightgray")

        main.append("g").selectAll(".laneText")
            .data(lanes)
            .enter().append("text")
            .text(function(d) {return d;})
            .attr("x", -m[1])
            .attr("y", function(d, i) {return y1(i + .5);})
            .attr("dy", ".5ex")
            .attr("text-anchor", "end")
            .attr("class", "laneText");
        
        //mini lanes and texts
        mini.append("g").selectAll(".laneLines")
            .data(items)
            .enter().append("line")
            .attr("x1", m[1])
            .attr("y1", function(d) {return y2(d.lane);})
            .attr("x2", w)
            .attr("y2", function(d) {return y2(d.lane);})
            .attr("stroke", "lightgray");

        mini.append("g").selectAll(".laneText")
            .data(lanes)
            .enter().append("text")
            .text(function(d) {return d;})
            .attr("x", -m[1])
            .attr("y", function(d, i) {return y2(i + .5);})
            .attr("dy", ".5ex")
            .attr("text-anchor", "end")
            .attr("class", "laneText");

        var itemRects = main.append("g")
                            .attr("clip-path", "url(#clip)");
        
        //mini item rects
        mini.append("g").selectAll("miniItems")
            .data(items)
            .enter().append("rect")
            .attr("class", function(d) {return "miniItem" + d.lane;})
            .attr("x", function(d) {return x(d.start);})
            .attr("y", function(d) {return y2(d.lane + .5) - 5;})
            .attr("width", function(d) {return x(d.end - d.start);})
            .attr("height", 10);

        //mini labels
        mini.append("g").selectAll(".miniLabels")
            .data(items)
            .enter().append("text")
            .text(function(d) {return d.id;})
            .attr("x", function(d) {return x(d.start);})
            .attr("y", function(d) {return y2(d.lane + .5);})
            .attr("dy", ".5ex");

        //brush
        var brush = d3.svg.brush()
                            .x(x)
                            .on("brush", display);

        mini.append("g")
            .attr("class", "x brush")
            .call(brush)
            .selectAll("rect")
            .attr("y", 1)
            .attr("height", miniHeight - 1);

        display();
        
        function display() {
            var rects, labels,
                minExtent = brush.extent()[0],
                maxExtent = brush.extent()[1],
                visItems = items.filter(function(d) {return d.start < maxExtent && d.end > minExtent;});

            mini.select(".brush")
                .call(brush.extent([minExtent, maxExtent]));

            x1.domain([minExtent, maxExtent]);

            //update main item rects
            rects = itemRects.selectAll("rect")
                    .data(visItems, function(d) { return d.id; })
                .attr("x", function(d) {return x1(d.start);})
                .attr("width", function(d) {return x1(d.end) - x1(d.start);});
            
            rects.enter().append("rect")
                .attr("class", function(d) {return "miniItem" + d.lane;})
                .attr("x", function(d) {return x1(d.start);})
                .attr("y", function(d) {return y1(d.lane) + 10;})
                .attr("width", function(d) {return x1(d.end) - x1(d.start);})
                .attr("height", function(d) {return .8 * y1(1);});

            rects.exit().remove();

            //update the item labels
            labels = itemRects.selectAll("text")
                .data(visItems, function (d) { return d.id; })
                .attr("x", function(d) {return x1(Math.max(d.start, minExtent) + 2);});

            labels.enter().append("text")
                .text(function(d) {return d.id;})
                .attr("x", function(d) {return x1(Math.max(d.start, minExtent));})
                .attr("y", function(d) {return y1(d.lane + .5);})
                .attr("text-anchor", "start");

            labels.exit().remove();

        }
        
        </script>


        <script>

    // spacelabs stuff
    var app = function() {

        var init = function() {

            tooltips();
            toggleMenuLeft();
            toggleMenuRight();
            menu();
            togglePanel();
            closePanel();
        };

        var tooltips = function() {
            $('#toggle-left').tooltip();
        };

        var togglePanel = function() {
            $('.actions > .fa-chevron-down').click(function() {
                $(this).parent().parent().next().slideToggle('fast');
                $(this).toggleClass('fa-chevron-down fa-chevron-up');
            });

        };

        var toggleMenuLeft = function() {
            $('#toggle-left').bind('click', function(e) {
                if (!$('.sidebarRight').hasClass('.sidebar-toggle-right')) {
                    $('.sidebarRight').removeClass('sidebar-toggle-right');
                    $('.main-content-wrapper').removeClass('main-content-toggle-right');
                }
                $('.sidebar').toggleClass('sidebar-toggle');
                $('.main-content-wrapper').toggleClass('main-content-toggle-left');
                e.stopPropagation();
            });
        };

        var toggleMenuRight = function() {
            $('#toggle-right').bind('click', function(e) {

                if (!$('.sidebar').hasClass('.sidebar-toggle')) {
                    $('.sidebar').addClass('sidebar-toggle');
                    $('.main-content-wrapper').addClass('main-content-toggle-left');
                }
                
                $('.sidebarRight').toggleClass('sidebar-toggle-right animated bounceInRight');
                $('.main-content-wrapper').toggleClass('main-content-toggle-right');

                if ( $(window).width() < 660 ) {
                    $('.sidebar').removeClass('sidebar-toggle');
                    $('.main-content-wrapper').removeClass('main-content-toggle-left main-content-toggle-right');
                 };

                e.stopPropagation();
            });
        };

        var closePanel = function() {
            $('.actions > .fa-times').click(function() {
                $(this).parent().parent().parent().fadeOut();
            });

        }

        var menu = function() {
            $("#leftside-navigation .sub-menu > a").click(function(e) {
                $("#leftside-navigation ul ul").slideUp();
                if (!$(this).next().is(":visible")) {
                    $(this).next().slideDown();
                }
                  e.stopPropagation();
            });
        };
        //End functions

        //Dashboard functions
        var timer = function() {
            $('.timer').countTo();
        };


        //Sliders
        var sliders = function() {
            $('.slider-span').slider()
        };


        //return functions
        return {
            init: init,
            timer: timer,
            sliders: sliders

        };
    }();

//Load global functions
$(document).ready(function() {
    app.init();
});


    </script>


</body>

</html>
