
// choropleth

    .counties {
      fill: none;
      stroke: #000;
    }

    .states {
      fill: none;
      stroke: #00f;
      stroke-linejoin: round;
    }

    .q0-9 { fill:rgb(247,251,255); }
    .q1-9 { fill:rgb(222,235,247); }
    .q2-9 { fill:rgb(198,219,239); }
    .q3-9 { fill:rgb(158,202,225); }
    .q4-9 { fill:rgb(107,174,214); }
    .q5-9 { fill:rgb(66,146,198); }
    .q6-9 { fill:rgb(33,113,181); }
    .q7-9 { fill:rgb(8,81,156); }
    .q8-9 { fill:rgb(8,48,107); }

    // Timeline
    .chart {
            shape-rendering: crispEdges;
        }

        .mini text {
            font: 9px sans-serif;   
        }

        .main text {
            font: 12px sans-serif;  
        }

        .miniItem0 {
            fill: darksalmon;
            stroke-width: 6;    
        }

        .miniItem1 {
            fill: darkolivegreen;
            fill-opacity: .7;
            stroke-width: 6;    
        }

        .miniItem2 {
            fill: slategray;
            fill-opacity: .7;
            stroke-width: 6;    
        }

        .brush .extent {
            stroke: gray;
            fill: dodgerblue;
            fill-opacity: .365;
        }
