<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" id="home-lifestyle">
		<div class="row">
			<h1>
				Digirithm
			</h1>
		</div>
	</div>

	<div class="row">
        <div class="col-md-3">
            <h2>
                <strong>Tweet</strong>Sense
            </h2>
            <p>
            	Twitter interactive intelligence api
            	<br>
            	<br>
            	<a href="http://github.com/digirithm/tweetsense">View on Github</a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>
                <strong>Our </strong> Team
            </h2>
            <p>
            	<ul>
            		<li>Andrew Meadors</li>
            		<li>Bill Berzinskas</li>
            		<li>Dan Cohn</li>
            	</ul>
            </p>
        </div>
        <div class="col-md-3">
            <h2>
                <strong>Our</strong> Vision
            </h2>
            <p>

            </p>
        </div>
        <div class="col-md-3">
            <h2>
                <strong>Contact</strong> Us
            </h2>
            <p>
            	<a target="_blank" href="mailto:digirithim@gmail.com">digirithim@gmail.com</a> 
            </p>
        </div>
    </div>
	
</section>
